
.imagens {
    width: 100%;
    height: auto;
}
.imagens img {
    border-radius: 5%;
    padding: 1%;
    width: 100vh;
}
.contnido-pag {
    display: flex;
    padding: 2%  2.5%;
}
.izamal-text p {
    margin-top: 5%;
}
.izamal-text {
    display: flex;
    padding: 1%;
    text-align: justify;
}
.header-izamal {
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/paginas-cont/izamal-portada.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}