/**Movil**/

@media (max-width:1280px) {
    *{
        min-height: 0vh;
    }
    body {
        background-color: #0E0E0E;
    }
    .slider-box {
        display: none;
    }
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #161815;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-container {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }

    .header-text {
        width: 100%;
        font-size: 80px;
        text-align: justify;
    }

    .header-text h1 {
        width: 80%;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 15px;

    }
    .header-text p {
        border: 0;
        padding: 0;
        padding-left: 15px;
        border-left: 1px solid #ffffff;
        margin-bottom: 15px;
    }

    .btn-1{
        margin: 20px 0;
    }

    .header-img {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
    }
    
    .yucatan {
        flex-direction: column;
    }

    .yucatan-text {
        padding: 10px;
        width: 100%;
        text-align: justify;
    }


    .yucatan h2 {
        font-size: 60px;
        text-align: center;
    }

    .img-yucatan {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        margin-left: 0;

    }

    .header-img a {
        margin: 0 10px;
    }
    .paginas {
        padding: 0px;
    }
     h1 {
        font-size: 70px;
    }
    .paginas-contenido {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .tour {
        padding: 10%;
    }
    h2 {
        font-size: 55px;
        line-height: 70px;
    }
    .pagina-text h3 {
        font-size: 150%;
    }

    .tour-container {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .video {
        padding: 30px;
    }

    .video-1 h2{
        text-align: center;
        font-size: 55px;
        line-height: 100%;
        color: #ffffff;
        font-family: "Bebas Neue", sans-serif;
    
    }
    
    .video-content {
        flex-direction: column;
    }

    .video-1 {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .video-2 {
        width: 100%;
        justify-content: center;
    }

    .v1  {
        height: 315px;
        width: 560px;

    }
    .header-text-pag {
        width: 100%;
        font-size: 80px;
        text-align: justify;
    }
    
    .header-text-pag h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15px;  
    }
    .header-text-pag p {
        padding-left: 5px;
        border-left: 1px solid #ffffff;
        margin-bottom: 15px;
    }

}


