* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#161815;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/portada.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.header-pueblos {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/portada2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block
}

.menu .navbar ul li a:hover {
    color: aqua;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-text {
    width: 70%;
}
.header-text-pag {
    width: 70%;
}

.header-text-pag h1 {
    font-size: 120px;
    line-height: 130px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 25px;
}

.header-text-pag p {
    font-size: 18px;
    color: #c4c4c4;
    margin-bottom: 35px;
    border-left: 1px solid #ffffff;
    padding-left: 15px;
}

.header-text h1 {
    font-size: 120px;
    line-height: 130px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 25px;
}

.header-text p {
    font-size: 18px;
    color: #c4c4c4;
    margin-bottom: 35px;
    border-left: 1px solid #ffffff;
    padding-left: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 25px 35px;
    background-color: #13975E;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 25px;
}
.btn-2 {
    display: inline-block;
    padding: 15px 25px;
    background-color: #13975E;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 25px;
}


.btn-1:hover {
    background-color: #19c67b;
}
.btn-2:hover {
    background-color: #19c67b;
}

.header-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-img a {
    margin-bottom: 40px;
}

.tour{
    padding: 100px 0;
    text-align: center;
}
.paginas {
    padding: 10px 0;
    text-align: center;
}
.yucatan{
    display: flex;
}

.yucatan-text{
    padding: 50px 200px 0px 200px;
    text-align: justify;
}

.yucatan-text h2{
    text-align: center;
    font-size: 85px;
    line-height: 130px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 25px;

}

.yucatan-text p {
    font-size: 18px;
    color: #c4c4c4;
    margin-bottom: 35px;
    border-left: 1px solid #ffffff;
    padding-left: 15px;

}
h2 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    font-size: 85px;
    line-height: 95px;
    color: #ffffff;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #c4c4c4;
}
.paginas-contenido {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.tour-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.pagina1 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/izamal-F.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.pagina2 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/izamal-F.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.pagina3 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/izamal-F.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.pagina-text h3 {
    font-family:"Bebas Neue", sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pagina-text p {
    color: #E1E1E1;
}
.tour-1 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/izamal-F.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-2 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/espita-f.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-3 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url();
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-4 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(imagenes/motul-F.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-5 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url();
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-6 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url();
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}
.tour-7 {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url();
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 250px;
        border-radius: 10px;
        padding: 25px;
        margin-bottom: 20px;
}

.tour-text h3 {
    font-family:"Bebas Neue", sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.tour-text p {
    color: #E1E1E1;
}

.footer-bg {
    text-align: center;
    padding: 100px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-1 {
    margin-bottom: 15px;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #0E0E0E;
    border: 1px solid #13975E;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.footer-txt {
    text-align: center;
    padding: 20px;
    background-color: #070707;
}

.video {
    margin-top: 50px;
    padding: 150px 0;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/portada2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.video-content {
    display: flex;
    align-items: center center;
}

.video-1{
    width: 40%;
    padding: 100px;
}
.video-1 h2{
    font-size: 85px; 
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;

}

.video-1 p {
    font-size: 18px;
    color: #c4c4c4;
}

.video-2 {
    width: 50%;
    display: flex;
}

.v1 {
    align-items: center;
    width: 800px;
    height: max-content;
    margin-right: 100px;
    border-radius: 10px;
}


